@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

body {
  background: #525754;
}
form {
  background: #B5B5B5;
  padding: 20px;
  border-radius: 10px;
  color: #292F36;
}
h1 {
  font-family: 'Lora', serif;
}
h1, p {
  color: #FBFAF8;
}
p {
  font-size: .9em;
  font-family: 'Open Sans', sans-serif;
}
h4 {
  color: #050916;
  font-family: 'Open Sans', sans-serif;
}
label {
  font-family: 'Lora', serif;
  color: #050916;
}
